Flask
WeasyPrint
gunicorn
openpyxl
psycopg[binary]
python-dotenv
websocket-client
psycopg2-binary
matplotlib
scipy
arm_pyart
numpy==1.26.4
h5py
pandas
opencv-python-headless
scikit-image
sv-ttk
cmweather
cmasher
cmocean
Flask-Login
Flask-SQLAlchemy
